:root {
    --mint-color: #70C0C9;
    --blue-color: #4074BD;
    --orange-color: #E05E46;
    --grey-color: #919191;
}

/* Structure */


body, body * {
    box-sizing: border-box; 
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 60px;
    text-align: center;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;

}

.container > .column {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}



/* Style */

.image {
    width: 90%;
    height: 260px;
    background-color: #E05E46;
    margin-bottom: 30px;
    position: relative;

}

img {
    width: 70%;
}

.heading {
    color: var(--orange-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    text-align: center;
}

.description {
    color: var(--grey-color);
    font-size: 16px;
}

.circle {
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: rgb(53, 122, 133);
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
}

.circle > span {
    text-align: center;
}


